.vscode/
cmake-build-debug/
build/
CMakeFiles/
local/

dataset/*
!dataset/12003.jpg
!dataset/35010.jpg
!dataset/65010.jpg
!dataset/118035.jpg
!dataset/124084.jpg
!dataset/140075.jpg

# Python
venv/
.venv/
plots/__pycache__/

# Output files
data/*
!data/original.csv
!data/example_481x321.csv
!data/example_90x60.csv
!data/batch
!data/resized_batch
!data/plots
output/
results_strong_scaling/

*.exe
*.o
*.a
*.pdf
*.png
*.txt
!requirements.txt


