# IDEs
.idea/
.vscode/

# CMake
cmake-build-debug/
build/

dataset/*
!dataset/12003.jpg
!dataset/35010.jpg
!dataset/65010.jpg
!dataset/118035.jpg
!dataset/124084.jpg

# Python
venv/
.venv/

run_experiments.*

# Output files
test/
data/*
!data/.gitkeep
*.exe
*.o
*.a
*.txt
!requirements.txt