# IDEs
.idea/
.vscode/

# CMake
cmake-build-debug/
build/

results/
dataset/*
!dataset/12003.jpg
!dataset/35010.jpg
!dataset/65010.jpg
!dataset/118035.jpg
!dataset/124084.jpg

# Python
venv/
.venv/

run_experiments.*
# dataset_weak_scaling/

# Output files
test/
data/*
!data/.gitkeep
!data/original_*.csv
!data/batch
*.exe
*.o
*.a
*.txt
!requirements.txt
*.ps1
*.png
scripts_local/
results_*/
old_output/
output/